/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* COLORS */
/* #E6E2CB */
/* #C7D9CC */
/* #789AAF */
/* #A09DC4 */
/* #222954 */
/* FONTS */
/* font-family: 'Titillium Web', sans-serif; */
/* font-family: 'Cabin', sans-serif; */
:root {
	--background: #222954;
}
#wrapper {
	color: var(--background, yellow);
}

/* HEADER STYLE */
#header {
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 999;
	font-family: 'Titillium Web', sans-serif;
	background-color: #A09DC4;
}
.nav {
	position: absolute;
	text-align: left;
	top: 100%;
}
.nav ul {
	list-style: none;
}
.logo {
	color: rgb(245, 243, 233);

}

.logo span {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-left: 4px;
}



/* Main */
